<ion-content>
  <img [src]="image">
  <div class="ion-padding-horizontal">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec eros nec lectus sodales blandit. Integer semper enim ut vestibulum posuere. Cras fermentum magna pellentesque neque placerat pharetra. Nunc quam nunc, facilisis vitae rutrum condimentum, egestas vitae arcu. Donec magna nunc, lacinia ac maximus at, lacinia at nisi. In eleifend neque lacus, aliquam porta nisi tempus egestas. Mauris sagittis, magna eget tincidunt lobortis, sem ante consequat neque, ac consequat ipsum elit at turpis. Proin in fermentum augue. Morbi tincidunt tellus fringilla tellus eleifend fringilla sit amet eu elit. Vestibulum cursus, metus ut molestie pharetra, leo eros feugiat purus, cursus commodo lorem leo varius erat. Sed non mauris metus. Curabitur vitae turpis est.</p>
  
    <p>Aenean id velit quis orci placerat ornare eu ut nibh. Sed ut leo accumsan, hendrerit nulla dapibus, faucibus ante. Cras malesuada eros ut nunc porta convallis. Maecenas vitae placerat ante. In a accumsan eros. Proin velit lorem, sagittis sit amet iaculis in, efficitur et orci. Etiam faucibus hendrerit massa, in gravida leo posuere a. Duis scelerisque elit id condimentum luctus. Nulla dapibus pretium mi vitae congue. Donec vitae felis nunc. Integer quis aliquet est. Nunc finibus euismod sem vitae condimentum. Fusce eget lectus congue, bibendum lectus fermentum, commodo elit.</p>
  
    <p>Nunc sollicitudin leo at rhoncus sollicitudin. Donec cursus ante non varius tristique. In condimentum ut diam rhoncus feugiat. Vivamus vel nibh consectetur nisl ullamcorper lacinia. Nulla magna erat, laoreet ultrices elit a, elementum facilisis tortor. Etiam nec sapien cursus, auctor mauris dictum, efficitur justo. Aliquam magna elit, elementum nec sem sit amet, cursus scelerisque ante. Morbi hendrerit dignissim ligula. Praesent sit amet dolor in tellus lacinia aliquet vel ut ex. Cras tempor augue orci, eget facilisis sapien volutpat ac. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
  
    <p>Ut mattis vehicula tellus, a accumsan libero blandit in. Vivamus lobortis leo nunc, in finibus nunc tincidunt nec. Cras eget suscipit est. Curabitur congue ultricies blandit. Vivamus varius rhoncus neque vel tempor. Nunc et vestibulum libero. Aenean vehicula, leo quis tristique posuere, turpis urna viverra arcu, ac rhoncus ligula tellus id augue. Fusce dictum nisl purus, quis rhoncus velit vestibulum ac.</p>
  
    <p>Curabitur ligula est, iaculis ac bibendum at, pulvinar in eros. Integer dapibus dignissim quam, a malesuada risus facilisis in. Pellentesque tortor neque, euismod vitae lectus in, dictum pellentesque ligula. Pellentesque eu fringilla erat, non vehicula enim. Curabitur blandit, libero at tempor euismod, magna eros pellentesque augue, et congue sem urna imperdiet libero. Morbi scelerisque varius leo, scelerisque euismod lacus iaculis ut. Integer pulvinar augue id interdum mollis. Suspendisse semper dolor vitae condimentum faucibus. Duis vel vehicula felis. Sed dapibus elit et est tincidunt lobortis. </p>
  </div>
</ion-content>
