<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let image of images; index as i" (click)="openModal(i)">
    <img #imageElement [src]="image">
  </ion-card>
</ion-content>
